<div *ngIf="!loggedIn">
    <mat-form-field style="width: 150px;">
        <mat-label style="font-size: 16px;">Korisničko ime</mat-label>
        <input matInput type="text" [(ngModel)]="username" style="font-size: 16px;">
    </mat-form-field>
    &nbsp;
    <mat-form-field style="width: 150px;">
        <mat-label style="font-size: 16px;">Lozinka</mat-label>
        <input matInput type="password" [(ngModel)]="password" style="font-size: 16px;">
    </mat-form-field>
    &nbsp;
    <div class="group">
    <label for="loginButton"><span *ngIf="!loginSuccess" style="font-size: 11px; color:rgb(48, 48, 48);">Nevalidni podaci!</span></label><br>
    <button name="loginButton" mat-raised-button color="primary" (click)="login()">
        Uloguj se
    </button>
    </div>
    &nbsp;
    <a routerLink="/register" class="login-link">
        Registruj se
    </a>
</div>
<div *ngIf="loggedIn">
    <button mat-raised-button (click)="logout()">
        Izloguj se
    </button>
    &nbsp;
    <span *ngIf="type == 0">
        <a routerLink="/register" class="login-link">
            Registruj korisnika
        </a>
    </span>
    &nbsp;
    <a routerLink="/passwordchange" class="login-link">
        Promeni lozinku
    </a>
</div>