.courses-card{
    min-width: 400px;
    width: 60%;
    text-align: left;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card-content a{
    color: lightgray;
    font-size: 16px;
}