<div class="breadcrumb">
    <a routerLink="/">Početna</a>
    <a routerLink="#" class="active">Moji predmeti</a>
</div>
<div class="page-content" *ngIf="courseInfos && courseInfos.length > 0">
    <mat-tab-group animationDuration="200ms"  class="course-tabs" mat-align-tabs="center">
        <mat-tab label="Dodaj obaveštenje">
            <div class="tab-content">
                <span class="color-custom">Naslov vesti: </span>
                <mat-form-field class="w-custom">
                  <input type="text" matInput [(ngModel)]="title" style="color: white"/>
                </mat-form-field>
                <br>
                <mat-form-field class="ta-custom">
                  <mat-label>Tekst vesti</mat-label>
                  <textarea matInput [(ngModel)]="text"></textarea>
                </mat-form-field>
                <br>
                <span class="color-custom">Predmeti na koje se odnosi vest:</span> 
                <br>
                <div *ngFor="let ci of courseInfos; index as i" class="color-custom">
                  
                  <mat-checkbox class="example-margin" color="primary" [(ngModel)]="selectedCourseInfos[i]">
                    
                    {{ci.coursename}} - {{ci.code}}

                  </mat-checkbox>
                </div>
                <br>
                <p>
                  <mat-form-field appearance="outline" color="primary" class="color-custom">
                    <mat-label>Datum objavljivanja</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" (dateChange)="setDate($event)" disabled>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker disabled="false"></mat-datepicker>
                  </mat-form-field>
                </p>
                
                <input hidden #fileInputObavestenja id="fileInputObavestenja" 
                type="file" ng2FileSelect [uploader]="uploaders[0]" (change)="fileChangeEvent($event, 0)">
                <mat-form-field class="h-custom">
                    <input matInput [(ngModel)]="fileInfoNames[0]" readonly name="fdssd" />
                    
                </mat-form-field>
                &nbsp;
                <button mat-raised-button color="primary" (click)="fileInputObavestenja.click()">Odaberi fajl</button>
                
                &nbsp;
                <button mat-raised-button (click)="sendNoticeToServer()">Dodaj obaveštenje</button>
                &nbsp;
                <button mat-raised-button (click)="clearLoader(0)" color="warn">Resetuj odabir</button>
                <br>
                <mat-hint>{{message}}</mat-hint>
                <br>  
            </div>
        </mat-tab>

        <mat-tab label="Obaveštenja sa mojih predmeta">
          <div class="tab-content">
              <div *ngIf="noticeForUpdate">
                <span class="color-custom">Naslov vesti: </span>
                <mat-form-field class="w-custom">
                  <input type="text" matInput [(ngModel)]="noticeForUpdate.title" style="color: white"/>
                </mat-form-field>
                <br>
                <mat-form-field class="ta-custom">
                  <mat-label>Tekst vesti</mat-label>
                  <textarea matInput [(ngModel)]="noticeForUpdate.text"></textarea>
                </mat-form-field>
                <br>
                <span class="color-custom">Šifre predmeta na koje se odnosi vest:</span> 
                <br>
                <div *ngFor="let code of noticeForUpdate.codes" class="color-custom">
                  {{code}}
                  <br>
                </div>
                <br>
                <p>
                  <mat-form-field appearance="outline" color="primary" class="color-custom">
                    <mat-label>Datum objavljivanja</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerU" (dateChange)="setDateForUpdate($event)" disabled>
                    <mat-datepicker-toggle matSuffix [for]="pickerU"></mat-datepicker-toggle>
                    <mat-datepicker #pickerU disabled="false"></mat-datepicker>
                  </mat-form-field>
                </p>
                <input hidden #fileInputObavestenja id="fileInputObavestenja" 
                type="file" ng2FileSelect [uploader]="uploaders[1]" (change)="fileChangeEvent($event, 1)">
                <mat-form-field class="h-custom">
                    <input matInput [(ngModel)]="fileInfoNames[1]" readonly name="fdssd" />
                    
                </mat-form-field>
                &nbsp;
                <button mat-raised-button color="primary" (click)="fileInputObavestenja.click()">Odaberi fajl</button>
                
                &nbsp;
                <button mat-raised-button (click)="updateNotice()">Ažuriraj obaveštenje</button>
                &nbsp;
                <button mat-raised-button (click)="clearLoader(1)" color="warn">Resetuj odabir</button>
                <br>
                <mat-hint>{{message}}</mat-hint>
                <br><br>
                <mat-divider></mat-divider>
              </div>
    
                <mat-list>
                  <mat-list-item *ngFor="let notice of myCoursesNotices; index as i">
                    <div mat-line> {{notice.title}} </div>
                    <span *ngIf="notice.teacher == username">
                      <button mat-raised-button color="warn" (click)="delete(notice.idN)">Obriši</button>
                      &nbsp;
                    </span>
                    <button mat-raised-button color="primary" (click)="selectForUpdate(i)">Izmeni</button>
                    <mat-divider></mat-divider>
                  </mat-list-item>
              </mat-list>
          </div>
      </mat-tab>

        <mat-tab label="O predmetu">
            <div class="tab-content">
                <br>&nbsp;
                <mat-form-field style="width: 40%;">
                    <mat-label>Predmet</mat-label>
                    <mat-select [(ngModel)]="courseInfo" name="food" >
                        <mat-option  *ngFor="let ci of courseInfos" [value]="ci" >
                          {{ci.coursename}} - {{ci.code}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
    

                &nbsp;
                <button mat-raised-button color="primary" (click)="updateCourseInfo()">Sačuvaj izmene</button>
                <br><br>
                <mat-divider></mat-divider>
                <span *ngIf="courseInfo">
                <mat-table [dataSource]="dataSources" class="mat-elevation-z8">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef [ngClass]="'w-custom'" style="font-size: 18px;"> Informacija </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="'w-custom'"> {{element.name}} </mat-cell>
                    </ng-container>
                  
                    <!-- Value Column -->
                    <ng-container matColumnDef="value">
                      <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Opis </mat-header-cell>
                      <mat-cell *matCellDef="let element; index as i">
                          <div *ngIf="i == 1">
                            <mat-form-field class="w-40">
                                <input type="number" matInput [(ngModel)]="courseInfo.semester"/>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 2" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.lessions"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 3">
                            <mat-form-field class="w-40">
                                <input type="number" matInput [(ngModel)]="courseInfo.espb"/>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 4" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.goal"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 5" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.outcome"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 6" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.terms"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 7" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.propositions"></textarea>
                            </mat-form-field>
                          </div>
                      </mat-cell>
                      <mat-footer-cell *matFooterCellDef [ngClass]="'w-custom'"> 
                        
                      </mat-footer-cell>
                    </ng-container>
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </span>
            </div>
        </mat-tab>

        
    </mat-tab-group>
</div>
<div class="page-content" *ngIf="courseInfos && courseInfos.length == 0">
  <div class="text-center subheading" style="margin-top: 150px;">
    Niste raspoređeni ni na jedan predmet!
  </div>

</div>