<div class="breadcrumb">
    <a routerLink="/">Početna</a>
	<a routerLink="/contact" class="active">Kontakt</a>
</div>
<div class="page-content">
    <div class="text-center heading">Kontakt podaci katedre</div>

    <p>
        <mat-card class="contact-card">
            <mat-card-content>
                <span style="font-size: 24px;">Katedra za računarsku tehniku i informatiku</span>
                <hr>
                <small>Univerzitet u Beogradu - Elektrotehnički fakultet</small>
                <br>
                <small>POB 35-54, 11120 Beograd, Srbija</small>
                <br>
                <br>
                <img src="../../assets/contact1.png" height="100px">
                &nbsp;&nbsp;&nbsp;
                <img src="../../assets/contact2.png" height="100px">
                <br>
                <br>
                <span style="font-size: 16px;">dr Nenad Korolija</span>
                <br>
                Kabinet: Paviljon, 26
                <br>
                Telefon: <a href="tel:+381113218389">+381 11 3218389</a>
                <br>
                E-mail: <a href="mailto:nenadko@etf.rs">nenadko@etf.rs</a>
            </mat-card-content>
        </mat-card>
    </p>

</div>