<div class="breadcrumb">
    <a routerLink="/">{{text[language][0]}}</a>
	<a routerLink="/contact" class="active">{{text[language][1]}}</a>
</div>
<div class="page-content">
    <div class="text-center heading">{{text[language][2]}}</div>

    <p>
        <mat-card class="contact-card">
            <mat-card-content>
                <span style="font-size: 24px;">{{text[language][3]}}</span>
                <hr>
                <small>{{text[language][4]}}</small>
                <br>
                <small>{{text[language][5]}}</small>
                <br>
                <br>
                <img src="../../assets/contact1.png" height="100px">
                &nbsp;&nbsp;&nbsp;
                <img src="../../assets/contact2.png" height="100px">
                <br>
                <br>
                <span style="font-size: 16px;">{{text[language][6]}}</span>
                <br>

                <p style="margin-top: 5px; margin-bottom: 5px;">
                    <span class="material-icons">location_on</span> 
                    {{text[language][7]}}
                </p>
                

                

                <p style="margin-bottom: 5px;">
                    <span class="material-icons">phone</span> &nbsp; 
                    <a href="tel:+381113218389">+381 11 3218389</a>
                </p>
                <p>
                    <span class="material-icons">email</span>&nbsp; 
                    <a href="mailto:nenadko@etf.rs">nenadko@etf.rs</a>
                </p>
            </mat-card-content>
        </mat-card>
    </p>

</div>