<p>
    <mat-accordion multi>
        <div *ngFor="let employee of employees">
            <mat-expansion-panel class="emplinfo">
                <mat-expansion-panel-header>
                <mat-panel-title>
                    {{prefix}}{{employee.firstName}} {{employee.lastName}}{{sufix}}
                    <span *ngIf="employee.title.includes('ostali')">&nbsp;{{employee.title.substr(7)}}</span> 
                </mat-panel-title>
                </mat-expansion-panel-header>
                <a class="profile-icon" [routerLink]="['/employees', employee.username]"><span style="font-size: 50px; margin-left: -7px;" class="material-icons">account_box</span></a>
                <br>
                <span *ngIf="!employee.title.includes('ostali')">
                    Predmeti:
                    <app-employeecourses [employeeUsername]="employee.username"></app-employeecourses>
                    <br>
                </span>
            </mat-expansion-panel>
        </div>      
    </mat-accordion>
</p>