mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
}
mat-sidenav {
    width: 250px;
}
main {
    padding: 0px;
}

.mat-drawer-container{
    background-color: whitesmoke;
    color: black;
}

.myFooter{
    margin-top: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: lightgray;
}