<div class="breadcrumb">
    <a routerLink="/">Početna</a>
    <a routerLink="#" class="active">Predmeti</a>
</div>
<div class="page-content">
    <mat-tab-group animationDuration="200ms"  class="course-tabs" mat-align-tabs="center">

      <mat-tab label="Dodaj predmet">
        <div class="tab-content">
            <br>
            <div class="text-center">
                <mat-hint>{{newMessage}}</mat-hint>
            </div>
            <button mat-raised-button color="primary" (click)="insertCourseInfo()">Dodaj predmet</button>
            <br><br>
            <mat-divider></mat-divider>
            <mat-table [dataSource]="dataSources[0]" class="mat-elevation-z8">
                <!-- Name Column -->
                <ng-container matColumnDef="name">
                  <mat-header-cell *matHeaderCellDef [ngClass]="'w-custom'" style="font-size: 18px;"> Informacija </mat-header-cell>
                  <mat-cell *matCellDef="let element" [ngClass]="'w-custom'"> {{element.name}} </mat-cell>
                </ng-container>
              
                <!-- Value Column -->
                <ng-container matColumnDef="value">
                  <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Opis </mat-header-cell>
                  <mat-cell *matCellDef="let element; index as i">
                      <div *ngIf="i == 0">
                        <mat-form-field>
                            <input type="text" matInput [(ngModel)]="newCourseInfo.coursename" required/>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 1">
                        <mat-form-field>
                            <input type="text" matInput [(ngModel)]="newCourseInfo.code" required/>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 2">
                        <mat-form-field>
                          <mat-select [(ngModel)]="newCourseInfo.module" name="m">
                            <mat-option value="SI">SI</mat-option>
                            <mat-option value="RTI">RTI</mat-option>
                            <mat-option value="ostali">Ostali</mat-option>
                            <mat-option value="master">Master</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 3">
                        <mat-form-field>
                          <mat-select [(ngModel)]="newCourseInfo.type" name="t">
                            <mat-option value="obavezan">obavezan</mat-option>
                            <mat-option value="izborni">izborni</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 4">
                        <mat-form-field class="w-40">
                            <input type="number" matInput [(ngModel)]="newCourseInfo.semester" required/>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 5" class="ta-custom">
                        <mat-form-field class="ta-custom">
                            <textarea matInput [(ngModel)]="newCourseInfo.lessions"></textarea>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 6">
                        <mat-form-field class="w-40">
                            <input type="number" matInput [(ngModel)]="newCourseInfo.espb" required/>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 7" class="ta-custom">
                        <mat-form-field class="ta-custom">
                            <textarea matInput [(ngModel)]="newCourseInfo.goal"></textarea>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 8" class="ta-custom">
                        <mat-form-field class="ta-custom">
                            <textarea matInput [(ngModel)]="newCourseInfo.outcome"></textarea>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 9" class="ta-custom">
                        <mat-form-field class="ta-custom">
                            <textarea matInput [(ngModel)]="newCourseInfo.terms"></textarea>
                        </mat-form-field>
                      </div>
                      <div *ngIf="i == 10" class="ta-custom">
                        <mat-form-field class="ta-custom">
                            <textarea matInput [(ngModel)]="newCourseInfo.propositions"></textarea>
                        </mat-form-field>
                      </div>
                  </mat-cell>
                  <mat-footer-cell *matFooterCellDef [ngClass]="'w-custom'"> 
                    
                  </mat-footer-cell>
                </ng-container>
              
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
        </div>
    </mat-tab>
        <mat-tab label="Upravljaj predmetmom">
            <div class="tab-content">
                <br>
                <div class="text-center">
                    <mat-hint>{{message}}</mat-hint>
                </div>
                <mat-form-field style="width: 40%;">
                    <mat-label>Predmet</mat-label>
                    <mat-select [(ngModel)]="courseInfo" name="food" >
                        <mat-option  *ngFor="let ci of courseInfos" [value]="ci" >
                          {{ci.coursename}} - {{ci.code}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
    

                &nbsp;
                <button mat-raised-button color="primary" (click)="updateCourseInfo()">Sačuvaj izmene</button>
                &nbsp;
                <button mat-raised-button color="warn" (click)="deleteCourseInfo()">Obriši predmet</button>
                <br><br>
                <mat-divider></mat-divider>
                <span *ngIf="courseInfo">
                <mat-table [dataSource]="dataSources[1]" class="mat-elevation-z8">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef [ngClass]="'w-custom'" style="font-size: 18px;"> Informacija </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass]="'w-custom'"> {{element.name}} </mat-cell>
                    </ng-container>
                  
                    <!-- Value Column -->
                    <ng-container matColumnDef="value">
                      <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Opis </mat-header-cell>
                      <mat-cell *matCellDef="let element; index as i">
                          <div *ngIf="i == 0">
                            <mat-form-field>
                              <mat-select [(ngModel)]="courseInfo.type" name="t">
                                <mat-option value="obavezan">obavezan</mat-option>
                                <mat-option value="izborni">izborni</mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 1">
                            <mat-form-field class="w-40">
                                <input type="number" matInput [(ngModel)]="courseInfo.semester"/>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 2" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.lessions"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 3">
                            <mat-form-field class="w-40">
                                <input type="number" matInput [(ngModel)]="courseInfo.espb"/>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 4" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.goal"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 5" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.outcome"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 6" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.terms"></textarea>
                            </mat-form-field>
                          </div>
                          <div *ngIf="i == 7" class="ta-custom">
                            <mat-form-field class="ta-custom">
                                <textarea matInput [(ngModel)]="courseInfo.propositions"></textarea>
                            </mat-form-field>
                          </div>
                      </mat-cell>
                      <mat-footer-cell *matFooterCellDef [ngClass]="'w-custom'"> 
                        
                      </mat-footer-cell>
                    </ng-container>
                  
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                  </mat-table>
                </span>
            </div>
        </mat-tab>

      <mat-tab label="Plan angažovanja">
          <div class="tab-content">
              <br>
              <mat-form-field style="width: 40%;">
                  <mat-label>Predmet</mat-label>
                  <mat-select [(ngModel)]="teaching.coursename" name="cft" required>
                      <mat-option  *ngFor="let course of allCourses" [value]="course.coursename" >
                        {{course.coursename}}
                      </mat-option>
                    </mat-select>
              </mat-form-field>
              <br>
              <mat-form-field style="width: 40%;">
                <mat-label>Nastavnik</mat-label>
                <mat-select [(ngModel)]="teaching.username" name="cft" required>
                    <mat-option  *ngFor="let teacher of allTeachers" [value]="teacher.username" >
                      {{teacher.firstName}} {{teacher.lastName}}
                    </mat-option>
                  </mat-select>
              </mat-form-field>
              <br>
              <span class="color-custom">Grupa: &nbsp;</span>
              <mat-form-field class="h-custom">
                <input type="text" matInput [(ngModel)]="teaching.group" required/>
              </mat-form-field>
              <br>
              <mat-hint>{{messageTeaching}}</mat-hint>
              <br>
              <button mat-raised-button color="primary" (click)="insertTeaching()">Dodaj nastavnika na predmet</button>
              <br><br>
              <mat-divider></mat-divider>

          </div>
      </mat-tab>

      <mat-tab label="Praćenje predmeta">
        <div class="tab-content">
            <br>
            <mat-form-field style="width: 40%;">
                <mat-label>Predmet</mat-label>
                <mat-select [(ngModel)]="attending.coursename" name="cft" required>
                    <mat-option  *ngFor="let course of allCourses" [value]="course.coursename" >
                      {{course.coursename}}
                    </mat-option>
                  </mat-select>
            </mat-form-field>
            <br>
            <mat-form-field style="width: 40%;">
              <mat-label>Student</mat-label>
              <mat-select [(ngModel)]="attending.username" name="cft" required>
                  <mat-option  *ngFor="let student of allStudents" [value]="student.username" >
                    {{student.firstName}} {{student.lastName}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
            <br>
            <mat-hint>{{messageAttending}}</mat-hint>
            <br>
            <button mat-raised-button color="primary" (click)="insertAttending()">Dodaj studenta na predmet</button>
            <br><br>
            <mat-divider></mat-divider>

        </div>
    </mat-tab>

        
    </mat-tab-group>
</div>
<div class="page-content" *ngIf="courseInfos && courseInfos.length == 0">
  <div class="text-center subheading" style="margin-top: 150px;">
    Niste raspoređeni ni na jedan predmet!
  </div>

</div>