<div class="breadcrumb">
    <a routerLink="/">Početna</a>
	<a routerLink="#" class="active">Promena lozinke</a>
</div>
<div class="page-content">
    <div class="text-center heading">Promena lozinke</div>
    <div class="display-custom err-custom">
        {{changeFailed}}
    </div>
    <div class="display-custom">
        <mat-form-field class="w-custom" appearance="outline">
            <mat-label class="f-custom">Stara lozinka</mat-label>
            <input class="f-custom" matInput type="password" [(ngModel)]="oldPassword"
            matInput [type]="hide1 ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide1 = !hide1">
                <mat-icon color="primary">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <br>
    <div class="display-custom">
        <mat-form-field class="w-custom" appearance="outline">
            <mat-label class="f-custom">Nova lozinka</mat-label>
            <input class="f-custom" matInput type="password" [(ngModel)]="newPassword"
            matInput [type]="hide2 ? 'password' : 'text'" required>
            <button mat-icon-button matSuffix (click)="hide2 = !hide2">
                <mat-icon color="primary">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <br>
    <div class="display-custom">

        <button mat-raised-button color="primary" (click)="changePassword()">Promeni</button>
    </div>
</div>
