.w-custom{
    min-width: 200px;
    width: 40vw;
}

.f-custom{
    font-size: 20px;
}

.display-custom{
    display: flex;
    justify-content: center;
    align-items: center;
}

.err-custom{
    height: 50px;
    font-weight: 500;
    font-size: 15px;
    color: var(--red-color);
}