.contact-card{
    min-width: 300px;
    width: 40%;
    text-align: center;
}

p {
    height: 35vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-card-content a{
    color: whitesmoke;
    font-size: 16px;
}

.mat-card-content a:hover{
    color: lightgray;
}

hr{
    border: 1px solid var(--purple-color);
}