<div class="breadcrumb">
    <a routerLink="/">Početna</a>
    <a routerLink="/science/research"> Nauka</a>
	<a routerLink="/science/research" class="active">Istraživanja</a>
</div>
<div class="page-content">
    <div class="text-center heading">Istraživačke grupe</div>

    <p>
        <mat-card class="contact-card">
            <mat-card-content>
                <a href='http://rti.etf.bg.ac.rs/rti/ebi/' target="_blank">EBI Group</a>
                <br>
                <a href='https://rti.etf.bg.ac.rs/rti/acm/' target="_blank">ACM Group</a>
            </mat-card-content>
        </mat-card>
    </p>

</div>