<div class="breadcrumb">
    <a routerLink="/">Početna</a>
    <a routerLink="#">Predmeti</a>
    <a routerLink="#" class="active">{{course.coursename}}</a>
</div>
<div class="page-content">
    <div class="text-center heading">{{course.coursename}}</div>

    <mat-tab-group animationDuration="200ms"  class="course-tabs" mat-align-tabs="center">
        <mat-tab label="Obaveštenja">
            <div class="tab-content">
                
                <!-- <input hidden #fileInputObavestenja id="fileInputObavestenja" 
                type="file" ng2FileSelect [uploader]="uploaders[0]" (change)="fileChangeEvent($event, 0)">
                
                <mat-form-field class="h-custom">
                    <input matInput [(ngModel)]="fileInfoNames[0]" readonly name="memberContactNo" />
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="fileInputObavestenja.click()">Odaberi fajl</button>
                <button mat-raised-button (click)="sendFilesToServer(0)">Pošalji sve odabrane</button>
                <button mat-raised-button (click)="clearLoader(0)" color="warn">Resetuj odabir</button>

                <div *ngFor="let file of allFiles">
                    {{file.originalName}} <input type="button" value="Preuzmi" (click)="download(file.uploadName)">
                </div> -->
            </div>
        </mat-tab>

        <mat-tab label="O predmetu">
            <mat-tab-group class="course-info-tabs" headerPosition="below" color="primary" mat-align-tabs="center" mat-stretch-tabs>
                <div *ngFor="let courseInfo of courseInfos; index as i">
                    <mat-tab label="{{courseInfo.module}}">
                        <mat-table [dataSource]="dataSources[i]" class="mat-elevation-z8">
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef [ngClass]="'w-custom'" style="font-size: 18px;"> Informacija </mat-header-cell>
                              <mat-cell *matCellDef="let element" [ngClass]="'w-custom'"> {{element.name}} </mat-cell>
                              <mat-footer-cell *matFooterCellDef [ngClass]="'w-custom'"> Predmentni nastavnici </mat-footer-cell>
                            </ng-container>
                          
                            <!-- Value Column -->
                            <ng-container matColumnDef="value">
                              <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Opis </mat-header-cell>
                              <mat-cell *matCellDef="let element"> 
                                <div class="wrap-custom">
                                    {{element.value}} 
                                </div>
                              </mat-cell>
                              <mat-footer-cell *matFooterCellDef [ngClass]="'w-custom'"> 
                                
                                <ul>
                                    <div *ngFor="let teacher of teachers[i]" class="a-custom">
                                        <li>
                                            <a [routerLink]="['/employees', teacher.username]">{{teacher.firstName}} {{teacher.lastName}}</a>
                                        </li>
                                    </div>
                                   
                                </ul>
                              </mat-footer-cell>
                            </ng-container>
                          
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                          </mat-table>
                    </mat-tab>
                </div>
            </mat-tab-group>
        </mat-tab>

        <mat-tab label="Predavanja">
            <div class="tab-content">
                
                <div *ngIf="type == 1">
                    <input hidden #fileInputPredavanja id="fileInputPredavanja" 
                    type="file" ng2FileSelect [uploader]="uploaders[0]" (change)="fileChangeEvent($event, 0)">
                    <mat-form-field class="h-custom">
                        <input matInput [(ngModel)]="fileInfoNames[0]" readonly name="memberContactNo" />
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="fileInputPredavanja.click()">Odaberi fajl</button>
                    &nbsp;
                    <button mat-raised-button (click)="sendFilesToServer(0)">Pošalji</button>
                    <br>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateOrder(0)">Ažuriraj redosled</button>
                    <br><br>
                    <mat-divider></mat-divider>
                </div>      

                <mat-list>
                    <mat-list-item *ngFor="let file of allFiles[0]">
                      <mat-icon mat-list-icon>article</mat-icon>
                      <div mat-line> {{file.originalName}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.type}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.size}} KB</div>
                      <div mat-line *ngIf="type == 1"> {{file.date}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.teacher}} </div>
                      <div *ngIf="type == 1">
                        Redosled: &nbsp;
                        <mat-form-field class="w-40" >
                          <input type="number" matInput [(ngModel)]="file.order"/>
                        </mat-form-field>
                        &nbsp;
                        <button mat-raised-button color="warn" (click)="delete(file.uploadName)">Obriši</button>
                        &nbsp;
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>
                      <div *ngIf="type != 1">
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>

                      <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>

        <mat-tab label="Vežbe">
            <div class="tab-content">
                <div *ngIf="type == 1">
                    <input hidden #fileInputVezbe id="fileInputVezbe" 
                    type="file" ng2FileSelect [uploader]="uploaders[1]" (change)="fileChangeEvent($event, 1)">
                    <mat-form-field class="h-custom">
                        <input matInput [(ngModel)]="fileInfoNames[1]" readonly name="memberContactNo" />
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="fileInputVezbe.click()">Odaberi fajl</button>
                    &nbsp;
                    <button mat-raised-button (click)="sendFilesToServer(1)">Pošalji</button>
                    <br>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateOrder(1)">Ažuriraj redosled</button>
                    <br><br>
                    <mat-divider></mat-divider>
                </div>      

                <mat-list>
                    <mat-list-item *ngFor="let file of allFiles[1]">
                      <mat-icon mat-list-icon>article</mat-icon>
                      <div mat-line> {{file.originalName}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.type}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.size}} KB</div>
                      <div mat-line *ngIf="type == 1"> {{file.date}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.teacher}} </div>
                      <div *ngIf="type == 1">
                        Redosled: &nbsp;
                        <mat-form-field class="w-40" >
                          <input type="number" matInput [(ngModel)]="file.order"/>
                        </mat-form-field>
                        &nbsp;
                        <button mat-raised-button color="warn" (click)="delete(file.uploadName)">Obriši</button>
                        &nbsp;
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>
                      <div *ngIf="type != 1">
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>

                      <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
        
        <mat-tab label="Ispitna pitanja" *ngIf="type != 2 || course.showExams">
            <div class="tab-content">
                <div *ngIf="type == 1">
                    <input hidden #fileInputRokovi id="fileInputRokovi" 
                    type="file" ng2FileSelect [uploader]="uploaders[2]" (change)="fileChangeEvent($event, 2)">
                    <mat-form-field class="h-custom">
                        <input matInput [(ngModel)]="fileInfoNames[2]" readonly name="memberContactNo" />
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="fileInputRokovi.click()">Odaberi fajl</button>
                    &nbsp;
                    <button mat-raised-button (click)="sendFilesToServer(2)">Pošalji</button>
                    <br>
                    &nbsp;
                    <mat-slide-toggle color="primary" [(ngModel)]="course.showExams">
                        <span class="color-custom">Prikaz ispitnih pitanja</span>
                    </mat-slide-toggle>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateCourseShow()">Sačuvaj</button>
                    <br><br>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateOrder(2)">Ažuriraj redosled</button>
                    <br><br>
                    <mat-divider></mat-divider>
                </div>      

                <mat-list>
                    <mat-list-item *ngFor="let file of allFiles[2]">
                      <mat-icon mat-list-icon>article</mat-icon>
                      <div mat-line> {{file.originalName}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.type}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.size}} KB</div>
                      <div mat-line *ngIf="type == 1"> {{file.date}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.teacher}} </div>
                      <div *ngIf="type == 1">
                        Redosled: &nbsp;
                        <mat-form-field class="w-40" >
                          <input type="number" matInput [(ngModel)]="file.order"/>
                        </mat-form-field>
                        &nbsp;
                        <button mat-raised-button color="warn" (click)="delete(file.uploadName)">Obriši</button>
                        &nbsp;
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>
                      <div *ngIf="type != 1">
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>

                      <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>

        <mat-tab label="Laboratorija" *ngIf="type != 2 || course.showLabs">
            <div class="tab-content">
                <div *ngIf="type == 1">
                    <input hidden #fileInputLab id="fileInputLab" 
                    type="file" ng2FileSelect [uploader]="uploaders[3]" (change)="fileChangeEvent($event, 3)">
                    <mat-form-field class="h-custom">
                        <input matInput [(ngModel)]="fileInfoNames[3]" readonly name="memberContactNo" />
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="fileInputLab.click()">Odaberi fajl</button>
                    &nbsp;
                    <button mat-raised-button (click)="sendFilesToServer(3)">Pošalji</button>
                    <br>
                    &nbsp;
                    <mat-slide-toggle color="primary" [(ngModel)]="course.showLabs">
                        <span class="color-custom">Prikaz laboratorijskih vežbi</span>
                    </mat-slide-toggle>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateCourseShow()">Sačuvaj</button>
                    <br><br>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateOrder(3)">Ažuriraj redosled</button>
                    <br><br>
                    <mat-divider></mat-divider>
                </div>      

                <mat-list>
                    <mat-list-item *ngFor="let file of allFiles[3]">
                      <mat-icon mat-list-icon>article</mat-icon>
                      <div mat-line> {{file.originalName}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.type}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.size}} KB</div>
                      <div mat-line *ngIf="type == 1"> {{file.date}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.teacher}} </div>
                      <div *ngIf="type == 1">
                        Redosled: &nbsp;
                        <mat-form-field class="w-40" >
                          <input type="number" matInput [(ngModel)]="file.order"/>
                        </mat-form-field>
                        &nbsp;
                        <button mat-raised-button color="warn" (click)="delete(file.uploadName)">Obriši</button>
                        &nbsp;
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>
                      <div *ngIf="type != 1">
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>

                      <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>

        <mat-tab label="Projekat" *ngIf="type != 2 || course.showProject">
            <div class="tab-content">
                <div *ngIf="type == 1">
                    <input hidden #fileInputProjekat id="fileInputProjekat" 
                    type="file" ng2FileSelect [uploader]="uploaders[4]" (change)="fileChangeEvent($event, 4)">
                    <mat-form-field class="h-custom">
                        <input matInput [(ngModel)]="fileInfoNames[4]" readonly name="memberContactNo" />
                    </mat-form-field>
                    <button mat-raised-button color="primary" (click)="fileInputProjekat.click()">Odaberi fajl</button>
                    &nbsp;
                    <button mat-raised-button (click)="sendFilesToServer(4)">Pošalji</button>
                    <br>
                    &nbsp;
                    <mat-slide-toggle color="primary" [(ngModel)]="course.showProject">
                        <span class="color-custom">Prikaz projekta</span>
                    </mat-slide-toggle>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateCourseShow()">Sačuvaj</button>
                    <br><br>
                    &nbsp;
                    <button mat-raised-button color="primary" (click)="updateOrder(3)">Ažuriraj redosled</button>
                    <br><br>
                    <mat-divider></mat-divider>
                </div>      

                <mat-list>
                    <mat-list-item *ngFor="let file of allFiles[4]">
                      <mat-icon mat-list-icon>article</mat-icon>
                      <div mat-line> {{file.originalName}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.type}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.size}} KB</div>
                      <div mat-line *ngIf="type == 1"> {{file.date}} </div>
                      <div mat-line *ngIf="type == 1"> {{file.teacher}} </div>
                      <div *ngIf="type == 1">
                        Redosled: &nbsp;
                        <mat-form-field class="w-40" >
                          <input type="number" matInput [(ngModel)]="file.order"/>
                        </mat-form-field>
                        &nbsp;
                        <button mat-raised-button color="warn" (click)="delete(file.uploadName)">Obriši</button>
                        &nbsp;
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>
                      <div *ngIf="type != 1">
                        <button mat-raised-button (click)="download(file.uploadName)">Preuzmi</button>
                      </div>

                      <mat-divider></mat-divider>
                    </mat-list-item>
                </mat-list>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>