<div class="breadcrumb">
    <a routerLink="/">Početna</a>
    <a routerLink="#">Predmeti</a>
    <a routerLink="#" class="active">{{course.coursename}}</a>
</div>
<div class="page-content">
    <div class="text-center heading">{{course.coursename}}</div>

    <mat-tab-group animationDuration="200ms"  class="course-tabs" mat-align-tabs="center">
        <mat-tab label="Obaveštenja">
            
        </mat-tab>

        <mat-tab label="O predmetu">
            <mat-tab-group class="course-info-tabs" headerPosition="below" color="primary" mat-align-tabs="center" mat-stretch-tabs>
                <div *ngFor="let courseInfo of courseInfos; index as i">
                    <mat-tab label="{{courseInfo.module}}">
                        <mat-table [dataSource]="dataSources[i]" class="mat-elevation-z8">
                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                              <mat-header-cell *matHeaderCellDef [ngClass]="'w-custom'" style="font-size: 18px;"> Informacija </mat-header-cell>
                              <mat-cell *matCellDef="let element" [ngClass]="'w-custom'"> {{element.name}} </mat-cell>
                              <mat-footer-cell *matFooterCellDef [ngClass]="'w-custom'"> Predmentni nastavnici </mat-footer-cell>
                            </ng-container>
                          
                            <!-- Value Column -->
                            <ng-container matColumnDef="value">
                              <mat-header-cell *matHeaderCellDef style="font-size: 18px;"> Opis </mat-header-cell>
                              <mat-cell *matCellDef="let element"> 
                                <div class="wrap-custom">
                                    {{element.value}} 
                                </div>
                              </mat-cell>
                              <mat-footer-cell *matFooterCellDef [ngClass]="'w-custom'"> 
                                
                                <ul>
                                    <div *ngFor="let teacher of teachers[i]" class="a-custom">
                                        <li>
                                            <a [routerLink]="['/employees', teacher.username]">{{teacher.firstName}} {{teacher.lastName}}</a>
                                        </li>
                                    </div>
                                   
                                </ul>
                              </mat-footer-cell>
                            </ng-container>
                          
                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            <mat-footer-row *matFooterRowDef="displayedColumns"></mat-footer-row>
                          </mat-table>
                    </mat-tab>
                </div>
            </mat-tab-group>
        </mat-tab>

        <mat-tab label="Predavanja">
            <div class="tab-content">
                
                <input hidden #fileInputPredavanja id="fileInputPredavanja" 
                type="file" ng2FileSelect [uploader]="uploaderSingle" (change)="fileChangeEvent($event)">
                
                <mat-form-field class="h-custom">
                    <input matInput [(ngModel)]="myfilename" readonly name="memberContactNo" />
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="fileInputPredavanja.click()">Odaberi fajl</button>
                <button mat-raised-button (click)="sendFilesToServer()">Pošalji odabrane</button>
                <button mat-raised-button (click)="clearLoader()" color="warn">Resetuj odabir</button>
            </div>
        </mat-tab>

        <mat-tab label="Vežbe">
        
        </mat-tab>
        
        <mat-tab label="Ispitna pitanja">
            
        </mat-tab>

        <mat-tab label="Laboratorija">
        
        </mat-tab>

        <mat-tab label="Projekat">
        
        </mat-tab>
    </mat-tab-group>
</div>