<div class="breadcrumb">
    <a routerLink="/">Početna</a>
	<a routerLink="/projects" class="active">Projekti</a>
</div>
<div class="page-content">
    <div class="text-center heading">Diplomski i master radovi</div>

    <p>
        <mat-card class="contact-card">
            <mat-card-content>
                <a href='https://rti.etf.bg.ac.rs/dokumenti/RTI_Mentori_osnovne_studije_2018.pdf' target='_blank'>Diplomski radovi - spisak mogućih mentora</a>
                <br>
                <a href='https://rti.etf.bg.ac.rs/dokumenti/Zavrsni_rad_na_osnovnim_akademskim_studijama.pdf' target='_blank'>Informacije o završnom diplomskom radu - izvod iz Pravilnika o OAS</a>
                <br>
                <a href='https://rti.etf.bg.ac.rs/dokumenti/diplomski/Izbor%20mentora%20i%20teme%20diplomskog%20ili%20master%20rada.pdf' target='_blank'>Obaveštenje o roku za izbor teme diplomskih i master radova</a>
                <br>
                <a href='https://www.etf.bg.ac.rs/uploads/files/Akta_fakulteta/Pravilnik%20o%20osnovnim%20akademskim%20studijama.pdf' target='_blank'>Pravilnik o osnovnim akademskim studijama (OAS) - ceo dokument (sa sajta ETF)</a>
                <br>
                <a href='https://rti.etf.bg.ac.rs/diplomski/index.php' target='_blank'>Spisak predloga tema za završni rad (ver. 22.05.2020.)</a>                     
            </mat-card-content>
        </mat-card>
    </p>

    <br><br>

    <div class="text-center heading">Ponude za zaposlenje i prakse</div>

    <p>
        <mat-card class="contact-card">
            <mat-card-content>
                <a href="https://rt-rk.talentlyft.com/jobs/embedded-system-developer-Ge/new">Embedded System Developer</a>
                    <br>
                    <a href="https://rt-rk.talentlyft.com/blog/studentske-prakse-stipendijski-program-X" target="_blank">Studentska stipendija u RT-RK</a>
                    <br>
                    <a href="http://elsys-eastern.com/career/internships/" target="_blank">Elsys Eastern Europe letnje prakse 2020.</a>
                    <br>
                    <a href="https://www.etf.bg.ac.rs/sr/konkursi/2020/11/otvorena-pozicija-za-softverskog-inzenjera" target="_blank">VAST - otvorene pozicije za softverske inženjere (novembar 2020)</a>        
            </mat-card-content>
        </mat-card>
    </p>

</div>