<div class="breadcrumb">
    <a routerLink="/">Početna</a>
    <a routerLink="/science/projects"> Nauka</a>
	<a routerLink="/science/projects" class="active">Projekti</a>
</div>
<div class="page-content">
    <div class="text-center heading">Projekti</div>

    <mat-accordion class="example-headers-align" multi>      
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                  ADVANCING NOVEL TEXTUAL SIMILARITY -BASED SOLUTIONS IN SOFTWARE DEVELOPMENT (AVANTES)
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
            <span style="color: lightgray">Tip projekta:</span> Fond za nauku - AI
            <br>
            <span style="color: lightgray">Rukovodilac:</span> &nbsp;<a routerLink="/employees/nbosko">prof. dr Boško Nikolić</a>
            <br>
            <span style="color: lightgray">Finansijer:</span> FOND ZA NAUKU REPUBLIKE SRBIJE
            <br>
            <span style="color: lightgray">Početak realizacije:</span> 02.09.2020.
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header >
              <mat-panel-title>
                Projekat za prekvalifikacije u IT sektoru
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
            <span style="color: lightgray">Tip projekta:</span> Međunarodne donacije
            <br>
            <span style="color: lightgray">Rukovodilac:</span> &nbsp;<a class="projects-a" routerLink="/employees/nbosko">prof. dr Boško Nikolić</a>
            <br>
            <span style="color: lightgray">Finansijer:</span> UJEDINJENE NACIJE PROGRAM ZA RAZVOJ
            <br>
            <span style="color: lightgray">Početak realizacije:</span> 04.02.2019.
        </mat-expansion-panel>
      
        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Softversko inzenjerstvo i nove tehnologije u racunarstvu (SINTRA)
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
            <span style="color: lightgray">Tip projekta:</span> Projekti-Razvoj visokog obrazovanja
            <br>
            <span style="color: lightgray">Rukovodilac:</span> &nbsp;<a class="projects-a" routerLink="/employees/drazen.draskovic">doc. dr Dražen Drašković</a>
            <br>
            <span style="color: lightgray">Finansijer:</span> MINISTARSTVO PROSVETE, NAUKE I TEHNOLOŠKOG RAZVOJA
            <br>
            <span style="color: lightgray">Početak realizacije:</span> 14.10.2019.
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Information Security Services Education in Serbia
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
            <span style="color: lightgray">Tip projekta:</span> ERAZMUS + K2
            <br>
            <span style="color: lightgray">Rukovodilac:</span> &nbsp;<a class="projects-a" routerLink="/employees/tartalja">prof. dr Igor Tartalja</a>
            <br>
            <span style="color: lightgray">Finansijer:</span> UNIVERZITET U BEOGRADU
            <br>
            <span style="color: lightgray">Početak realizacije:</span> 14.02.2018.
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Prostorni, ekološki, energetski i društveni aspekti razvoja naselja i klimatske promene-međusobni uticaji
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
            <span style="color: lightgray">Tip projekta:</span> Nauka – tehnološki razvoj
            <br>
            <span style="color: lightgray">Rukovodilac:</span> &nbsp;<a class="projects-a" routerLink="/employees/slavko.gajin">prof. dr Slavko Gajin</a>
            <br>
            <span style="color: lightgray">Finansijer:</span> MINISTARSTVO ZA NAUKU I TEHNOLOŠKI RAZVOJ
            <br>
            <span style="color: lightgray">Početak realizacije:</span> 02.03.2011.
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                SEE-GRID-SCI-SEE-GRID eInfrastructure for regional eScience (SEE-GRID-SCI) FP 7
              </mat-panel-title>
            </mat-expansion-panel-header>
            <br>
            <span style="color: lightgray">Tip projekta:</span> Međunarodni FP projekti
            <br>
            <span style="color: lightgray">Rukovodilac:</span> &nbsp;<a class="projects-a" routerLink="/employees/zaki">prof. dr Zaharije Radivojević</a>
            <br>
            <span style="color: lightgray">Početak realizacije:</span> 14.12.2006.
        </mat-expansion-panel>

    </mat-accordion>
</div>