<mat-toolbar color="primary">
    <div class="show-xs">
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
    <div class="hide-xs">
        <a routerLink="/">
            <mat-icon>home</mat-icon>
        </a>
    </div>
    <div class="hide-xs align-right">
        <a routerLink="/employees" class="navigation-items">Zaposleni</a>
        <a routerLink="/news" class="navigation-items">Obavestenja</a>
        <span class="navigation-items cursor-pointer" [matMenuTriggerFor]="bachelorStudies">
            <a matline>Studije</a>
        </span>
        <mat-menu #bachelorStudies="matMenu">
          <a mat-menu-item>Odsek RTI</a>
          <a mat-menu-item>Odsek SI</a>
          <a mat-menu-item>Ostali odseci</a>
        </mat-menu>
        <a routerLink="/master" class="navigation-items">Master</a>
        <a routerLink="/projects" class="navigation-items">Projekti</a>
        <span class="navigation-items cursor-pointer" [matMenuTriggerFor]="Science">
            <a matline>Nauka</a>
        </span>
        <mat-menu #Science="matMenu">
          <a mat-menu-item>Istrazivanja</a>
          <a mat-menu-item>Projekti</a>
        </mat-menu>
        <a routerLink="/contact" class="navigation-items">Kontakt</a>
    </div>
</mat-toolbar>