<mat-toolbar color="warn">
    <mat-toolbar-row class="login-toolbar">
        <div class="show-xs">
            <button mat-icon-button (click)="onToggleSidenav()">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <div class="hide-xs home-icon">
            <a routerLink="/">
                <mat-icon>home</mat-icon>
            </a>
        </div>
        <div class="align-right">
            <app-login ></app-login>
        </div>
    </mat-toolbar-row>
    <mat-toolbar-row class="hide-xs link-toolbar">
        <div class="align-right">
            <span *ngIf="type == 0">
                <a routerLink="/students" class="navigation-items">Studenti</a>
            </span>
            <a routerLink="/employees" class="navigation-items">Zaposleni</a>
            <a routerLink="/news" class="navigation-items">Obaveštenja</a>
            <span *ngIf="type == 1">
                <a routerLink="/mycourses" class="navigation-items">Moji predmeti</a>
            </span>
            <a class="navigation-items cursor-pointer" [matMenuTriggerFor]="bachelorStudies">
                <span matline>Osnovne studije</span>
            </a>
            <mat-menu #bachelorStudies="matMenu">
            <a mat-menu-item routerLink="/courses/RTI">Odsek RTI</a>
            <a mat-menu-item routerLink="/courses/SI">Odsek SI</a>
            <a mat-menu-item routerLink="/courses/ostali">Ostali odseci</a>
            </mat-menu>
            <a routerLink="/courses/master" class="navigation-items">Master studije</a>
            <a routerLink="/projects" class="navigation-items">Projekti</a>
            <a class="navigation-items cursor-pointer" [matMenuTriggerFor]="Science">
                <span matline>Nauka</span>
            </a>
            <mat-menu #Science="matMenu">
            <a mat-menu-item routerLink="/science/research">Istraživanja</a>
            <a mat-menu-item routerLink="/science/projects">Projekti</a>
            </mat-menu>
            <a routerLink="/contact" class="navigation-items">Kontakt</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>