<mat-nav-list>
    <a mat-list-item routerLink="/" (click)="onSidenavClose()">Početna</a>
    <a mat-list-item routerLink="/employees" (click)="onSidenavClose()">Zaposleni</a>
    <a mat-list-item routerLink="/news" (click)="onSidenavClose()">Obaveštenja</a>
    <a mat-list-item class="cursor-pointer" [matMenuTriggerFor]="bStudies">
        <a matline>Osnovne studije</a>
    </a>
    <mat-menu #bStudies="matMenu">
        <a mat-menu-item routerLink="/courses/RTI" (click)="onSidenavClose()">Odsek RTI</a>
        <a mat-menu-item routerLink="/courses/SI" (click)="onSidenavClose()">Odsek SI</a>
        <a mat-menu-item routerLink="/courses/ostali" (click)="onSidenavClose()">Ostali odseci</a>
    </mat-menu>
    <a mat-list-item routerLink="/courses/master" (click)="onSidenavClose()">Master studije</a>
    <a mat-list-item routerLink="/projects" (click)="onSidenavClose()">Projekti</a>
    <a mat-list-item class="cursor-pointer" [matMenuTriggerFor]="sci">
        <a matline>Nauka</a>
    </a>
    <mat-menu #sci="matMenu">
        <a mat-menu-item routerLink="/science/research" (click)="onSidenavClose()">Istraživanja</a>
        <a mat-menu-item routerLink="/science/projects" (click)="onSidenavClose()">Projekti</a>
    </mat-menu>
    <a mat-list-item routerLink="/contact" (click)="onSidenavClose()">Kontakt</a>
    
  </mat-nav-list>