<div class="breadcrumb">
	<a routerLink="/" class="active">{{text[language][0]}}</a>
</div>
<div class="page-content">
    <div class="text-center heading">{{text[language][1]}}</div>

    <mat-tab-group [(selectedIndex)]="selectedIndex" animationDuration="500ms" style="min-height: 400px;" headerPosition="below" color="primary" mat-stretch-tabs>
        <mat-tab>
            <img src="../../assets/pocetna1.jpg" width="100%">
          </mat-tab>
          <mat-tab>
            <img src="../../assets/pocetna2.jpg" width="100%">
          </mat-tab>
          <mat-tab>
            <img src="../../assets/pocetna3.jpg" width="100%">
          </mat-tab>
    </mat-tab-group>
    <br>
    <p>
      {{text[language][2]}}
      <br>
      {{text[language][3]}}
      <br>
      {{text[language][4]}}
    </p>
</div>
