<h2>Osnovna prica o katedri</h2>
<p>
    Katedra za računarsku tehniku i informatiku se bavi edukacijom, naučno-istraživačkim i projektantskim radom u oblasti računarskog hardvera, softvera i računarskih mreža.
    <br>
    Katedre su nastavno-naučne jedinice Fakulteta. Katedre se osnivaju u funkciji nastavnog i naučnog rada za jednu ili više srodnih užih naučnih oblasti. Katedre obavljaju svoje aktivnosti na svim vrstama i nivoima studija, naučno-istraživačke poslove, kao i ostale aktivnosti iz delatnosti Fakulteta.
    <br>
    U sastavu katedara se obrazuju odgovarajuće laboratorije u kojima se izvode vežbe i praktičan rad sa studentima, vrše istraživanja, ekspertize i druge usluge u skladu sa zakonom i opštim aktima Fakulteta.
    <br>
    Članovi katedre su nastavnici, saradnici i istraživači u naučnom zvanju koji su u radnom odnosu sa punim i nepunim radnim vremenom na Fakultetu i koji obavljaju nastavno-naučni rad iz istih ili srodnih užih naučnih oblasti. Svaki nastavnik, saradnik i istraživač je član samo jedne fakultetske katedre.
</p>